<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Review</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    ${data.map(book => { return `
    <p>Author: ${book.book_author}</p>
    <p>Book: ${book.book_name}</p>
    ` }).join('')}
    
    </br>
    <hr />
    ${ !!is_logged_in ?`
    <h2>Leave your review of this book:</h2>
    <form action="/" method="POST">
      <input type="hidden" name="book_id" value="${data[0].id}" />
      <label
        >Title
        <input type="text" name="reviews_title" placeholder="Review Title" />
      </label>
      <label
        >My Review
        <textarea
          name="review_review"
          placeholder="My review of this book..."
        ></textarea>
      </label>
      <button type="submit">Save Review</button>
    </form>
    ` : `<p>Login to submit a review</p>
    `}
    </br>
    <hr />
    <h2>User Reviews</h2>
    ${reviews.map(review => { return `
      <h3>Review Title: ${review.title}</h3>
      <p>Review: ${review.review}</p>
      <p>Stars: ${review.stars}</p>
      
      ` }).join('')}
    
    <a href="/">Return to Homepage</a>
    </br>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>